@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    text-align: center;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#FFDD3C;
}

.nav{
text-align: center;
}

a{
    text-decoration: none;
    color: rgb(74, 31, 173);

}


#image-1{
  text-align: inherit;
}

#end{
    color: rgb(58, 75, 32);
    border: 1px solid black;
    width:300px;
    position: absolute;
    left: 530px;
}

#contact{
    border-radius: 150px 350pc;
    margin:none;
    text-decoration: none;
    
}

#epa{
  margin:none;
  text-decoration:none;

}

