@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
background-image: url();
background-color:#87CEEB ;
}
 
body{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#heading{
    text-align:center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px ;
    left: 610px;
    background:none;
}

#up{
    flex-wrap: wrap;
}

#button{
    color:purple ;
    background-color:yellow ;
    

}



